<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>  
    <add key="rows" value="7"/>  
    <add key="columns" value="9"/>
    <add key="whiteId" value="1"/>
    <add key="blackId" value="2"/>
  </appSettings> 
</configuration>